@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;

  --color-brand-50: #f0f4ff;
  --color-brand-100: #e0e9ff;
  --color-brand-500: #4f6ef7;
  --color-brand-600: #3d5ce8;
  --color-brand-700: #2d4bd4;
}